@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&family=Oswald:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    height: 100vh;
    
    background: url('./images/pic.jpg');
    background-size: cover;
}

.main{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
    
width: 500px;
height: 200px;
background-color:#2C3335;
color: white;
line-height: 3rem;
border-radius: 10px;
box-shadow: 10px 10px rgb(144, 142, 142);
}
.head
{
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    text-align: center;
}
.button{
    font-family: 'Grenze Gotisch', cursive;
    font-size: 17px;
    text-align: center;
    width: 190px;
    height: 30px;
    margin: 5px;
    border-radius: 15px;
border: 0.2px solid lightblue;
    outline: none;
    cursor: pointer;

}
.button span{
    padding: 14px;
    font-weight: 500;
}